* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-areas: ". lettre" "numero piece";
    grid-template-columns: 15px 1fr;
    grid-template-rows: 15px 1fr;
}

.container-lettre {
    grid-area: lettre;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1 0;
}

.container-numero {
    grid-area: numero;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex: 1 1 0;
}

.container-piece {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: piece;
    width: calc(70px * 8);
}

.row {
    display: flex;
    flex-direction: row;
}

.control {
    margin: 0 20px;
}

.control:first-of-type {
    text-align: right;
}

.control:last-of-type {
    text-align: left;
}

.case{
    height : 70px;
    width : 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row:nth-of-type(odd) .case:nth-of-type(even) {
    background-color: #d18b46;
}

.row:nth-of-type(odd) .case:nth-of-type(odd) {
    background-color:#ffcf9e;
}

.row:nth-of-type(even) .case:nth-of-type(even) {
    background-color: #ffcf9e;
}

.row:nth-of-type(even) .case:nth-of-type(odd) {
    background-color: #d18b46;
}

.case:hover{
    background-color: rgba(0, 0, 0, 0.5) !important;
}


/* Les pieces */

.piece {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 100%;
}


.case.chemin {
    background-color: rgba(139, 195, 74, 1) !important;
    animation: clignoter 0.5s linear 1s infinite alternate;
}

.case.selectionner {
    background-color: rgb(76, 255, 76) !important;
}

.console-log {
    position: fixed;
    bottom: 0;
    background-color: #9E9E9E;
    color: #FFF;
    width: 1000%;
    padding: 10px 10px;
    font-family: monospace;
}

@keyframes clignoter {
    from {
        background-color: rgba(139, 195, 74, 0.5);
    }

    to {
        background-color: rgba(139, 195, 74, 0.1);
    }
}
